#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.page {
  /* height: 25vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  
}

.screenLogin {
  background-color: rgba(255, 58, 58, 0.559);
}

.screenSignup {
  background-color: rgba(255, 150, 45, 0.559);
}

.screenHome {
  background-color: rgba(255, 230, 0, 0.529);
}

.screenConvo {
  background-color: rgba(0, 255, 94, 0.498);
}

.screenProfile {
  background-color: rgba(0, 255, 238, 0.534);
}

.screenSearch {
  background-color: rgba(182, 35, 250, 0.534);
}

.screenDash {
  background-color: rgba(164, 255, 125, 0.534);
  height: 100vh;
}

