:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  /* text-decoration: inherit; */
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  max-width: 800px;
  min-height: 100vh;
}

form > * {
  margin: 5px;
}

input {
  margin-top: 2px;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  /* width: 100px; */
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  background-color: rgb(61, 61, 61);
  height: 100vh;
  width: 100vw;
  /* max-width: 1280px; */
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 30px;
}

body {
  color: white;
}

label {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.errorList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorList > * {
  color: rgb(255, 192, 192);
  font-weight: 600;
}

.screenGate,
.screenDash {
  background-color: rgb(61, 61, 61);
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr;
}

.page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

.screenLogin {
  display: flex;
  gap: 10px;
  background-color: rgba(138, 138, 138, 0.559);
  padding: 5px;
  border-radius: 5px;
}
.screenSignup,
.screenContacts,
.screenConvo,
.screenProfile,
.screenSearch {
  background-color: rgba(138, 138, 138, 0.559);
  display: grid;
  grid-template-rows: 50px 1fr 70px;
}

.pageSubheader {
  background-color: rgba(172, 255, 47, 0.207);
  display: flex;
  gap: 10px;
  text-justify: center;
}

.contactsBody {
  max-height: 410px;
  overflow: scroll;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;
  /* overflow: scroll; */
  /* max-height: 400px; */
}

li {
  display: flex;
  overflow: hidden;
}

.contactListItem,
.searchListItem {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 50px;
  background-color: rgba(49, 49, 49, 0.498);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.searchListItem {
  grid-template-columns: 1fr 50px;
}

.searchListItem  > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchListItemBtn {
  grid-column: 2/-1;
  grid-row: 1 / -1;
}

.convoContactHeader {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.contactListItem > *,
.convoContactHeader > * {
  display: flex;
  align-items: center;
}

.userNameTitle {
  font-weight: 600;
}

.screenConvo {
}

.screenProfile {
}

.screenSearch {
}

.searchForm {
  justify-self: stretch;
  display: flex;
  gap: 5px;
  flex-grow: 1;
}

.searchForm > * {
  /* flex-grow: 1; */
  margin: 0;
}

.contactSearchLabel {
  flex-grow: 1;
}

.dashHeader {
  display: flex;
  justify-content: space-between;
}

.headerMenu {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.creditBar {
  margin-top: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
